<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul class="cart__item-list">
                        <% let totalPrice=0; %>
                            <% products.forEach(p=> { %>
                                <li class="cart__item">
                                    <img src="/<%= p.productId.imageUrl; %>" alt="<%= p.productId.title; %>"
                                        class="cart__item-image">
                                    <div class="cart__item-info">
                                        <div class="cart__item-heading">
                                            <h1>
                                                <%= p.productId.title; %>
                                            </h1>
                                            <h2>Quantity: <%= p.quantity; %>
                                            </h2>
                                        </div>
                                        <div class="cart__item-price">
                                            <p>Price: <%= (p.productId.price * p.quantity).toFixed(2); %> Rs.</p>
                                        </div>
                                    </div>
                                    <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" value="<%= p.productId._id; %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
                                        <button class="btn danger" type="submit">Delete
                                        </button>
                                    </form>
                                </li>
                                <% totalPrice +=p.productId.price * p.quantity; %>
                                    <% }); %>
                    </ul>
                    <div class="cart__total">
                        <p>Total Price: <%= totalPrice.toFixed(2); %> Rupees</p>
                    </div>
                    <hr>
                    <div class="centered">
                        <form action="/create-order" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
                            <input type="hidden" name="totalPrice" value="<%= totalPrice.toFixed(2); %>">
                            <button type="submit" class="btn">Order Now!
                            </button>
                        </form>
                    </div>
                    <% } else { %>
                        <h1>No Products in Cart!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
    </body>

    </html>